body {
  background-color: #1f2025;
  font: "Helvetica";
  color: white;
  margin: 0 auto;
  display: block;
}

body a {
  color: white;
  text-decoration: none;
}

header {
  position: relative;
}

#menu {
  position: absolute;
  width: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#menu li {
  list-style-type: none;
  padding: 5px;
  margin-left: -40px;
}

#menu .sousmenu_li:hover {
  background-color: #ce1919;
}

#menu h1 {
  font-family: "Helvetica";
  font-size: 2em;
  text-align: center;
  margin-bottom: -37px;
}

#menu .menuProfil {
  width: 85%;
}

#menu .menuProfil a {
  font-size: 1em;
  font-family: "Helvetica";
  text-decoration: none;
  transition: all 0.3s ease 0s;
  padding: 5px 10px;
  width: 100%;
}

#menu .menuProfil ul {
  display: none;
  position: absolute;
}

#menu .menuProfil_item {
  top: -14px;
  margin-left: 5px;
  display: block;
  float: left;
  position: relative;
}

#menu .menuProfil_item .user {
  font-size: 1.2em;
  font-family: "Helvetica";
}

#menu .menuProfil_item:hover {
  background-color: black;
  border-radius: 4px 4px 0px 0px;
}

#menu .menuProfil_item ul {
  margin-top: 5px;
}

#menu .menuProfil_item:hover ul, #menu .menuProfil a:focus ul {
  display: block;
  left: 0;
  width: 250%;
  background-color: black;
  border-radius: 0px 4px 4px 4px;
}

#menu .search {
  float: right;
  margin-right: 50px;
  position: relative;
  width: 200px;
}

#menu .search .search_search {
  position: absolute;
  top: -14px;
}

#menu .search .search_search input[type="text"], #menu .search .search_search input[type='submit'] {
  display: inline-block;
}

#menu .search .search_search input[type="text"] {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.25px solid rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  color: white;
  padding: 5px;
}

#menu .search .search_search input[type="submit"] {
  background-color: #ce1919;
  border-radius: 5px;
  border: none;
  padding: 4px 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#latest img {
  width: 100%;
}

.contener_slideshow {
  height: 680px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.slide_1, .slide_2, .slide_3, .slide_4 {
  position: absolute;
  width: 100%;
}

.slide_1 img, .slide_2 img, .slide_3 img, .slide_4 img {
  width: 100%;
}

.slide_1 a, .slide_2 a, .slide_3 a, .slide_4 a {
  position: absolute;
  bottom: 10%;
  right: 5%;
  border-radius: 5px;
  padding: 12px;
  background-color: #ce1919;
  color: white;
  font-family: "Mohave";
  font-size: 1.5em;
}

.slide_1 a:hover, .slide_2 a:hover, .slide_3 a:hover, .slide_4 a:hover {
  color: #ce1919;
  background-color: rgba(0, 0, 0, 0.9);
}

.slide_1 {
  left: 0;
}

.slide_2 {
  left: 100%;
}

.slide_3 {
  left: 200%;
}

.slide_4 {
  left: 300%;
}

.contener_slide {
  width: 100%;
  left: 0px;
  position: absolute;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 15s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: anim_slide;
}

@-webkit-keyframes anim_slide
{
  0% {
    left: 0px;
  }
  22% {
    left: 0px;
  }
  33% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  57% {
    left: -200%;
  }
  68% {
    left: -200%;
  }
  80% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
}

@-moz-keyframes anim_slide
{
  0% {
    left: 0px;
  }
  22% {
    left: 0px;
  }
  33% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  57% {
    left: -200%;
  }
  68% {
    left: -200%;
  }
  80% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
}

@-ms-keyframes anim_slide
{
  0% {
    left: 0px;
  }
  22% {
    left: 0px;
  }
  33% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  57% {
    left: -200%;
  }
  68% {
    left: -200%;
  }
  80% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
}

@keyframes anim_slide
{
  0% {
    left: 0px;
  }
  22% {
    left: 0px;
  }
  33% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  57% {
    left: -200%;
  }
  68% {
    left: -200%;
  }
  80% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
}

#slogan {
  margin-bottom: 35px;
}

#slogan p {
  font-family: "Mohave";
  text-align: center;
  font-size: 2.4em;
  line-height: 0.4em;
}

#slogan img {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 20%;
  display: block;
  margin: 0 auto;
}

.toDoQuiz {
  width: 100%;
  background-image: url("../img/listeFilm.png");
  background-size: cover;
  height: 475px;
}

.toDoQuiz p {
  text-align: center;
  padding-top: 215px;
}

.quiz-link {
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: inline-block;
  background-color: #ce1919;
  font-size: 1.8em;
  font-family: "Helvetica";
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.quiz-link .quiz-link__text {
  position: relative;
  z-index: 2;
}

.quiz-link__bg {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 150%;
  left: 0;
  position: absolute;
  right: 0;
  top: 150%;
  transform: rotate(-25deg);
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.quiz-link:hover .quiz-link__bg {
  bottom: -125%;
  left: -40%;
  right: -40%;
  top: -125%;
  transition: all 0.5s ease 0s;
}

.popularity, .vote, .cinema {
  width: 100%;
}

.popularity h2, .vote h2, .cinema h2 {
  padding-top: 25px;
  font-family: "Mohave";
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

.popularity_popularity, .vote_vote, .cinema_cinema {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.popularity_movies, .vote_movies, .cinema_movies {
  padding: 35px;
  position: relative;
  width: 13%;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
}

.popularity_movies img, .vote_movies img, .cinema_movies img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  transition: all 1.5 ease 0s;
}

.popularity_movies img:hover, .vote_movies img:hover, .cinema_movies img:hover {
  border: 1px solid red;
}

.popularity_movies h3, .vote_movies h3, .cinema_movies h3 {
  margin-top: -15px;
  color: white;
  font-family: "Helvetica";
  font-size: 1em;
  font-weight: normal;
}

footer {
  margin-bottom: -10px;
}

footer p {
  font-family: "Helvetica";
  font-size: 0.7em;
  text-align: center;
}

footer img {
  width: 10%;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article .background-image-connect {
  background-image: url("../img/oldboy.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

article .background-image-register {
  background-image: url("../img/chappie.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

article .background-image-sure {
  background-image: url("../img/matrix.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

article .name-logo {
  position: absolute;
}

article .name-logo h1 {
  margin: 100px;
}

article .name-logo a {
  color: #ce1919;
  font-size: 5em;
  font-family: "Helvetica";
  text-shadow: 2px 2px 1px black;
}

article .citation {
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  background-color: black;
  border-radius: 5px;
  opacity: 0.8;
}

article .citation blockquote {
  font-family: "Helvetica";
  font-size: 1.5em;
  margin: 20px 330px 30px;
  padding: 20px;
  font-style: italic;
}

article .citation h2 a {
  color: white;
  font-family: "Mohave";
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding: 5px;
}

article .citation h2 a:hover {
  color: #f40612;
}

article .formulaire {
  background-color: black;
  border-radius: 6px;
  opacity: 0.8;
  color: white;
  font-family: "Helvetica";
  padding: 30px;
  width: 365px;
  margin: 0 auto;
  margin-top: 150px;
}

article .formulaire h2 {
  text-align: center;
  text-transform: uppercase;
}

article .formulaire p {
  color: #ce1919;
  text-align: center;
  border-top: 1px solid #ce1919;
  border-bottom: 1px solid #ce1919;
  padding: 5px;
}

article .formulaire .error {
  padding: 0px;
  font-size: 0.8em;
}

article .formulaire .login, article .formulaire .register {
  margin-top: 30px;
}

article .formulaire .login div, article .formulaire .register div {
  margin-top: 15px;
}

article .formulaire .login label, article .formulaire .register label {
  display: block;
}

article .formulaire .login input[type="password"], article .formulaire .login input[type="email"], article .formulaire .login input[type="text"], article .formulaire .register input[type="password"], article .formulaire .register input[type="email"], article .formulaire .register input[type="text"] {
  background-color: black;
  width: 97%;
  color: white;
  padding: 5px;
}

article .formulaire .login button[type="submit"], article .formulaire .register button[type="submit"] {
  background-color: #ce1919;
  border: none;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  color: white;
  padding: 5 10 5 10;
  margin-top: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

article .formulaire .login button[type="submit"]:hover, article .formulaire .register button[type="submit"]:hover {
  background-color: #f40612;
}

article .formulaire .login p, article .formulaire .register p {
  text-align: center;
  border: none;
}

article .formulaire .login a, article .formulaire .register a {
  color: white;
}

article .formulaire .login a:hover, article .formulaire .register a:hover {
  color: #ce1919;
}

section:after {
  clear: both;
  display: block;
  content: "";
}

#menuQuiz {
  z-index: 1;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 100%;
}

#menuQuiz h1 {
  font-family: "Helvetica";
  font-size: 2.5em;
  text-align: center;
  margin-bottom: -37px;
}

#menuQuiz .disconnect a {
  margin: 25px;
  border-radius: 6px;
  padding: 12px;
  font-size: 1.4em;
  font-family: "Helvetica";
}

#menuQuiz .disconnect a:hover {
  color: #f40612;
}

.quiz-page {
  width: 100%;
  display: block;
}

.quiz-yesorno {
  padding-top: 75px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: absolute;
}

.quiz-yesorno h2 {
  text-align: center;
  margin-top: 125px;
  font-family: "Mohave";
  font-size: 2.8em;
}

.quiz-yesorno .resultats {
  text-align: center;
  margin-top: 200px;
  font-family: "Mohave";
  font-size: 2.8em;
}

.toDoQuiz2 {
  width: 100%;
  position: absolute;
}

.toDoQuiz2 p {
  text-align: center;
  padding-top: 15px;
}

.quiz-link2 {
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: inline-block;
  background-color: #ce1919;
  font-size: 1.4em;
  font-family: "Helvetica";
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.quiz-link2 .quiz-link__text2 {
  position: relative;
  z-index: 2;
}

.quiz-link__bg2 {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 150%;
  left: 0;
  position: absolute;
  right: 0;
  top: 150%;
  transform: rotate(-25deg);
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.quiz-link2:hover .quiz-link__bg2 {
  bottom: -160%;
  left: -40%;
  right: -40%;
  top: -160%;
  transition: all 0.5s ease 0s;
}

.yesorno .yes a {
  background-image: url("../img/yes.svg");
}

.yesorno .no a {
  background-image: url("../img/no.svg");
}

.yesorno .yes, .yesorno .no {
  display: inline-block;
  margin: 0 auto;
  width: 49.8%;
}

.yesorno .yes a, .yesorno .no a {
  font-size: 8em;
  display: block;
  margin: 0 auto;
  width: 148px;
  text-indent: -5000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
}

.yesorno .yes a:hover, .yesorno .no a:hover {
  background-position: -148px 0px;
}

section .movies {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

section .movies img {
  width: 158.2px;
  height: 215px;
  float: left;
  transition: all 1.5 ease 0s;
}

section .movieLink {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 500;
}

section .movies h2 {
  padding: 5px;
  background-color: black;
  color: #f40612;
  display: block;
  font-size: 1.1em;
  left: 0;
  opacity: 0;
  padding-top: 100px;
  position: absolute;
  text-align: center;
  top: -50px;
  bottom: -50px;
  font-family: "Helvetica";
}

section .movies:hover h2 {
  opacity: 0.9;
  transition: all 0.2s ease-in-out 0s;
  right: 0%;
  z-index: 0;
}

section .loading {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

section .loading h3 {
  text-align: center;
  font-family: "Helvetica";
}

section .loading span {
  font-size: 2em;
}

section .date {
  color: white;
  font-size: 0.9em;
}

.contenu {
  width: 100%;
  margin-top: 20px;
}

.contenu section {
  width: 65%;
  display: block;
  margin: 0 auto;
}

.contenu section .profil {
  float: left;
  width: 40%;
  border-radius: 8px;
}

.contenu section .profil_actor {
  float: left;
  width: 20%;
  border-radius: 8px;
}

.contenu section .features {
  padding-bottom: 25px;
}

.contenu section .features .continueQuiz {
  display: inline-block;
  width: 64%;
}

.contenu section .features .continueQuiz input {
  color: white;
  background-color: #ce1919;
  padding: 8px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Mohave";
  font-size: 1em;
  cursor: pointer;
}

.contenu section .features .continueQuiz input:hover {
  background-color: rgba(206, 25, 25, 0.8);
}

.contenu section .features .features_features {
  display: inline-block;
  width: 35%;
}

.contenu section .features .features_features li {
  float: left;
  list-style-type: none;
  margin-right: 15px;
}

.contenu section .features .features_features li a {
  font-family: "Helvetica";
}

.contenu section .features .features_features li a:hover {
  color: #ce1919;
  text-decoration: underline;
}

.contenu section .features .features_features .wishlist {
  background-image: url("../img/pop5.svg");
  background-repeat: no-repeat;
  background-position: 0em;
  padding-left: 20px;
}

.contenu section .features .features_features .mview {
  background-image: url("../img/eye.svg");
  background-repeat: no-repeat;
  background-position: 0em;
  padding-left: 28px;
  border-right: 1px solid white;
  padding-right: 15px;
}

.contenu section .infos {
  float: right;
  margin-left: 25px;
  width: 55%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.contenu section .infos h2 {
  padding-left: 15px;
  margin-bottom: 0px;
  font-size: 3em;
  font-family: "Mohave";
  color: #ce1919;
}

.contenu section .infos .dtg {
  border-right: 2px solid white;
  float: left;
}

.contenu section .infos .infos_infos:after {
  content: '';
  display: block;
  clear: both;
}

.contenu section .infos .infosSup {
  float: none;
  display: block;
}

.contenu section .infos p {
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Helvetica";
  text-align: justify;
}

.contenu section .infos a {
  color: grey;
}

.contenu section .infos a:hover {
  text-decoration: underline;
}

.contenu section .infos .cast {
  width: 93%;
  font-family: "Helvetica";
  margin-left: 15px;
}

.contenu section .infos .cast tr {
  padding: 5px;
}

.contenu section .infos .cast tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

.contenu section .infos .cast td {
  padding: 5px;
}

.contenu section .infos .cast .cast-character {
  text-align: right;
}

.contenu #galerie {
  background-color: rgba(0, 0, 0, 0.5);
  height: 189px;
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
  overflow: hidden;
}

.contenu #galerie a {
  display: block;
  float: left;
  padding: 0 10px;
}

.contenu #galerie a img {
  border: 2px solid black;
  border-radius: 8px;
}

.contenu #galerie a:hover img, .contenu #galerie a.courant img {
  border: 2px solid #ce1919;
}

.contenu #galerie .suiv {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 189px;
  background: url("../img/fleche.png") right top;
}

.contenu #galerie .prec {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 189px;
  background: url("../img/fleche.png") left top;
}

.contenu #galerie .suiv:hover {
  background-position: 52px top;
}

.contenu #galerie .prec:hover {
  background-position: -26px top;
}

.contenu #galerie .slider {
  width: 20000px;
  position: relative;
  top: 8px;
}

.contenu #galerie .slider img {
  width: 300px;
  max-height: 169px;
}

.contenu #galerie .slider .blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  cursor: url("http://www.rouvre.com/themes/default/images/cursor-close.png"), crosshair;
}

.contenu #galerie .slider .blackout .title {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
}

.contenu #galerie .slider .blackout img {
  max-width: 100%;
  max-height: 100%;
}

.contenu .overview {
  font-size: 1.1em;
  font-family: "Aileron";
  letter-spacing: 0.5px;
  margin-top: 25px;
}

.contenu .trailer {
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-bottom: 2px solid white;
}

.contenu .trailer iframe {
  width: 100%;
  height: 350px;
}

.contenu .actor {
  font-family: "Helvetica";
  margin-bottom: 50px;
}

.contenu .actor h2 {
  font-size: 3em;
  color: #ce1919;
  font-family: "Mohave";
  text-align: center;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.contenu .actor .infos_actor {
  float: right;
  margin-left: 25px;
  width: 75%;
  top: 0;
}

.contenu .actor .infos_actor ul li {
  list-style-type: none;
  padding-bottom: 10px;
}

.contenu .actor .infos_actor ul li a {
  color: grey;
}

.contenu .actor .infos_actor ul li a:hover {
  text-decoration: underline;
}

.contenu .actor .movies_actor {
  margin-top: 75px;
}

.contenu .actor .movies_actor h3 {
  color: white;
  font-size: 1em;
  font-family: "Helvetica";
  font-weight: lighter;
}

.contenu .actor .movies_actor .affiches {
  display: inline-block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.contenu .actor .movies_actor .affiches a img {
  margin: 15px 15px;
  width: 16.5%;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.contenu .actor .movies_actor .affiches a img:hover {
  border: 1px solid #ce1919;
}

@media screen and (max-width: 1280px) {
  #latest .contener_slideshow {
    height: 560px;
  }
  article .formulaire {
    margin: 80px auto 0;
  }
  article .citation {
    margin-top: -40px;
  }
  .contenu section .features .continueQuiz {
    display: inline-block;
    width: 47%;
  }
  .contenu section .features .features_features {
    display: inline-block;
    width: 52%;
  }
  .contenu .actor .movies_actor .affiches a img {
    width: 15.5%;
  }
}

@media screen and (max-width: 1045px) {
  #latest .contener_slideshow {
    height: 450px;
  }
  .popularity_movies, .vote_movies, .cinema_movies {
    width: 12%;
  }
  article .citation blockquote {
    margin: 20px 200px 30px;
    font-size: 1em;
  }
  .quiz-page .quiz-yesorno h2 {
    margin-top: 45px;
  }
  section .movies img {
    float: left;
    height: 240px;
    width: 173.2px;
  }
}

@media screen and (max-width: 980px) {
  .popularity_movies, .vote_movies, .cinema_movies {
    width: 12%;
    font-size: 0.8em;
  }
  article .formulaire {
    margin: 350px auto 0;
  }
  .yesorno .yes, .yesorno .no {
    display: inline-block;
    margin: 0 auto;
    width: 49%;
  }
  .quiz-yesorno h2 {
    font-family: "Mohave";
    font-size: 2em;
    text-align: center;
  }
  section .movies img {
    float: left;
    height: 210px;
    width: 122.2px;
  }
  .contenu section .features .features_features {
    display: inline-block;
    width: 53%;
  }
  .contenu section .features .continueQuiz {
    display: inline-block;
    width: 39%;
  }
  .contenu .actor .movies_actor .affiches a img {
    width: 13.5%;
  }
}

@media screen and (max-width: 800px) {
  #latest .contener_slideshow {
    height: 350px;
  }
  .popularity_movies, .vote_movies, .cinema_movies {
    width: 15%;
    padding: 15px;
    font-size: 0.8em;
  }
  .quiz-yesorno h2 {
    padding-bottom: 95px;
    margin-top: 72px;
  }
  section .loading {
    padding-bottom: 50px;
    padding-top: 200px;
    width: 100%;
  }
  .movies_result {
    margin-top: 200px;
  }
  section .movies img {
    height: 210px;
    width: 132.2px;
  }
  .contenu section .features .features_features {
    display: inline-block;
    width: 67%;
  }
  .contenu section .features .continueQuiz {
    display: inline-block;
    width: 31%;
  }
  .contenu section .profil {
    border-radius: 8px;
    float: left;
    width: 100%;
  }
  .contenu section .infos {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    float: right;
    margin-top: 25px;
    margin-left: 43px;
    width: 100%;
  }
  .contenu section {
    display: block;
    margin: 0 auto;
    width: 95%;
  }
  .contenu .actor .movies_actor .affiches a img {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  #menu h1 {
    font-size: 1.3em;
  }
  #menu .menuProfil_item {
    top: -10px;
  }
  #menu .search .search_search {
    top: -10px;
  }
  .slide_1 a, .slide_2 a, .slide_3 a, .slide_4 a {
    font-size: 1em;
  }
  .toDoQuiz p {
    padding-top: 117px;
    font-size: 1em;
  }
  .toDoQuiz {
    background-image: url("../img/listeFilm.png");
    background-size: cover;
    height: 295px;
    width: 100%;
  }
  article .citation blockquote {
    font-size: 1em;
    margin: 20px 40px 30px;
  }
  section .movies img {
    height: 215px;
    width: 152.2px;
  }
  .toDoQuiz2 p {
    padding-top: 0;
    text-align: center;
  }
  .contenu section .features .features_features {
    display: inline-block;
    width: 69%;
  }
  .contenu section .features .continueQuiz {
    display: inline-block;
    width: 25%;
  }
}

@media screen and (max-width: 660px) {
  #slogan p {
    font-size: 2em;
  }
  #latest .contener_slideshow {
    height: 290px;
  }
  footer img {
    width: 40%;
  }
  section .loading {
    padding-bottom: 50px;
    padding-top: 250px;
    width: 100%;
  }
  .movies_result {
    margin-top: 260px;
  }
  section .movies img {
    height: 175px;
    width: 130.2px;
  }
}

@media screen and (max-width: 600px) {
  #latest .contener_slideshow {
    height: 270px;
  }
  #menu .search {
    width: 115px;
  }
  #menu .search .search_search input[type="text"] {
    width: 55%;
  }
  .toDoQuiz p {
    font-size: 0.8em;
  }
  .popularity_movies, .vote_movies, .cinema_movies {
    font-size: 0em;
    width: 14%;
  }
  .popularity_popularity, .vote_vote, .cinema_cinema {
    padding-top: 15px;
  }
  footer img {
    width: 15%;
  }
  .quiz-page .quiz-yesorno h2 {
    font-size: 1.5em;
    margin-top: 45px;
  }
  .movies_result {
    margin-top: 180px;
  }
  section .movies img {
    height: 170px;
    width: 119.2px;
  }
}

@media screen and (max-width: 550px) {
  #latest .contener_slideshow {
    height: 250px;
  }
  #slogan p {
    font-size: 1.8em;
  }
  #slogan img {
    width: 35%;
  }
  footer img {
    width: 20%;
  }
  .quiz-yesorno h2 {
    font-size: 1.3em;
    padding-bottom: 75px;
    margin-top: 72px;
  }
  section .loading {
    padding-bottom: 50px;
    padding-top: 300px;
    width: 100%;
  }
  section .movies img {
    height: 195px;
    width: 137.5px;
  }
  .contenu section .features .features_features {
    display: block;
    width: 100%;
  }
  .contenu .actor .movies_actor .affiches a img {
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
  #latest .contener_slideshow {
    height: 220px;
  }
  .slide_1 a, .slide_2 a, .slide_3 a, .slide_4 a {
    font-size: 0.8em;
  }
  #slogan p {
    font-size: 1.5em;
  }
  #slogan img {
    width: 30%;
  }
  .toDoQuiz {
    height: 230px;
  }
  .toDoQuiz p {
    font-size: 0.6em;
    padding-top: 90px;
  }
  .popularity_movies, .vote_movies, .cinema_movies {
    font-size: 0em;
    width: 13%;
  }
  .popularity h2, .vote h2, .cinema h2 {
    font-size: 1.3em;
  }
  footer img {
    width: 20%;
  }
  section .movies img {
    height: 149px;
    width: 82.5px;
  }
}

@media screen and (max-width: 440px) {
  article .formulaire {
    width: 260px;
  }
  .quiz-page .quiz-yesorno h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  section .movies img {
    height: 139px;
    width: 87.5px;
  }
}

@media screen and (max-width: 410px) {
  #menu h1 {
    font-size: 1em;
  }
  #menu .menuProfil_item .user {
    font-size: 1em;
  }
  #menu .menuProfil_item {
    top: -5px;
  }
  #menu .search .search_search input[type="text"], #menu .search .search_search input[type="submit"] {
    display: none;
  }
  #slogan img {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #latest .contener_slideshow {
    height: 150px;
  }
  .popularity_movies, .vote_movies, .cinema_movies {
    font-size: 0;
    padding: 0px;
    width: 19%;
  }
  .popularity_movies img, .vote_movies img, .cinema_movies img {
    margin-top: 16px;
  }
  footer img {
    width: 30%;
  }
  .quiz-page .quiz-yesorno h2 {
    margin-top: -25px;
  }
  section .movies img {
    height: 128px;
    width: 80.5px;
  }
}

@media screen and (max-width: 360px) {
  #menu .menuProfil a {
    font-family: "Helvetica";
    font-size: 0.8em;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    width: 206%;
  }
  #menu .menuProfil_item {
    margin-left: -35px;
  }
  .slide_1 a, .slide_2 a, .slide_3 a, .slide_4 a {
    font-size: 1em;
    padding: 4px;
  }
  #slogan p {
    font-size: 1.1em;
  }
  #slogan {
    margin-bottom: 15px;
  }
  .popularity h2, .vote h2, .cinema h2 {
    font-size: 1.1em;
  }
  footer img {
    width: 40%;
  }
  .toDoQuiz {
    height: 138px;
  }
  .toDoQuiz p {
    font-size: 0.4em;
    padding-top: 47px;
  }
  .popularity h2, .vote h2, .cinema h2 {
    padding-top: 10px;
  }
  article .formulaire {
    margin: 80px auto 0;
  }
  article .name-logo h1 {
    margin: 20px;
  }
  article .name-logo h1 a {
    font-size: 2em;
  }
  article .citation {
    margin-top: -120px;
  }
  .quiz-page .quiz-yesorno h2 {
    margin-top: -23px;
  }
  .quiz-yesorno h2 {
    padding-bottom: 20px;
  }
  .movies_result {
    margin-top: 205px;
  }
  section .movies img {
    height: 128px;
    width: 89.5px;
  }
  .contenu section .features .features_features li a {
    font-family: "Helvetica";
    font-size: 0.5em;
  }
  .contenu section {
    display: block;
    margin: 0 auto;
    width: 95%;
  }
  .contenu section .profil_actor {
    border-radius: 8px;
    float: none;
    width: 100%;
  }
  .contenu .actor .infos_actor {
    float: none;
    margin-left: 0px;
    top: 0;
    width: 100%;
  }
  .contenu .actor .movies_actor .affiches a img {
    width: 42%;
  }
}

@media screen and (max-width: 320px) {
  .quiz-yesorno h2 {
    padding-bottom: 10px;
  }
  section .movies img {
    height: 157px;
    width: 106.5px;
  }
  .quiz-link2 {
    font-size: 1.2em;
  }
}
