#slogan{
  margin-bottom: 35px;
  p{
    font-family: $font_slogan;
    text-align: center;
    font-size: 2.4em;
    line-height: 0.4em;
  }
  img{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 20%;
    display: block;
    margin: 0 auto;
  }
}
.toDoQuiz{
  width: 100%;
  background-image: url("../img/listeFilm.png");
  background-size: cover;
  height: 475px;
  p{
    text-align: center;
    padding-top: 215px;
  }
}
.quiz-link{
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: inline-block;
  background-color: $color_rougeDark;
  font-size: 1.8em;
  font-family: $font_base;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  .quiz-link__text{
    position: relative;
    z-index: 2;
  }
}
.quiz-link__bg{
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 150%;
  left: 0;
  position: absolute;
  right: 0;
  top: 150%;
  transform: rotate(-25deg);
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.quiz-link:hover .quiz-link__bg{
  bottom: -125%;
  left: -40%;
  right: -40%;
  top: -125%;
  transition: all 0.5s ease 0s;
}
.popularity, .vote, .cinema{
  width: 100%;
  h2{
    padding-top: 25px;
    font-family: $font_slogan;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
  }
}
.popularity_popularity, .vote_vote, .cinema_cinema{
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.popularity_movies, .vote_movies, .cinema_movies{
  padding: 35px;
  position: relative;
  width: 13%;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    transition: all 1.5 ease 0s;
  }
  img:hover{
    border: 1px solid red;
  }
  h3{
    margin-top: -15px;
    color: white;
    font-family: $font_base;
    font-size: 1em;
    font-weight: normal;
  }
}
