@media screen and (max-width: 1280px) {
  #latest .contener_slideshow {
    height: 560px;
  }
  //connect
  article .formulaire {
    margin: 80px auto 0;
  }
  //confirmation
  article .citation {
    margin-top: -40px;
  }
  //movie
  .contenu section .features .continueQuiz {
    display: inline-block;
    width: 47%;
  }
  .contenu section .features .features_features {
    display: inline-block;
    width: 52%;
  }
  //director
  .contenu .actor .movies_actor .affiches a img {
    width: 15.5%;
  }
}

@media screen and (max-width: 1045px) {
  #latest .contener_slideshow {
    height: 450px;
  }
  .popularity_movies, .vote_movies, .cinema_movies {
    width: 12%;
  }
  //confirmation
  article .citation blockquote {
      margin: 20px 200px 30px;
      font-size: 1em;
  }
  //quiz
  .quiz-page .quiz-yesorno h2 {
    margin-top: 45px;
  }
  section .movies img {
    float: left;
    height: 240px;
    width: 173.2px;
  }
}

@media screen and (max-width: 980px) {
  .popularity_movies, .vote_movies, .cinema_movies{
    width: 12%;
    font-size: 0.8em;
  }
  //connect
  article .formulaire {
    margin: 350px auto 0;
  }
  //quiz
  .yesorno .yes, .yesorno .no {
      display: inline-block;
      margin: 0 auto;
      width: 49%;
  }
  .quiz-yesorno h2 {
    font-family: "Mohave";
    font-size: 2em;
    text-align: center;
  }
  section .movies img {
      float: left;
      height: 210px;
      width: 122.2px;
  }
  //movies
  .contenu section .features .features_features {
    display: inline-block;
    width: 53%;
  }
  .contenu section .features .continueQuiz {
    display: inline-block;
    width: 39%;
  }
  //director
  .contenu .actor .movies_actor .affiches a img {
    width: 13.5%;
  }
}

@media screen and (max-width: 800px) {
  #latest .contener_slideshow {
    height: 350px;
  }
  .popularity_movies, .vote_movies, .cinema_movies{
    width: 15%;
    padding: 15px;
    font-size: 0.8em;
  }
  //quiz
  .quiz-yesorno h2 {
    padding-bottom: 95px;
    margin-top: 72px;
  }
  section .loading {
    padding-bottom: 50px;
    padding-top: 200px;
    width: 100%;
  }
  .movies_result {
      margin-top: 200px;
  }
  section .movies img {
    height: 210px;
    width: 132.2px;
  }
  //movies
  .contenu section .features .features_features {
      display: inline-block;
      width: 67%;
  }
  .contenu section .features .continueQuiz {
    display: inline-block;
    width: 31%;
  }
  .contenu section .profil {
      border-radius: 8px;
      float: left;
      width: 100%;
  }
  .contenu section .infos {
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 8px;
    float: right;
    margin-top: 25px;
    margin-left: 43px;
    width: 100%;
  }
  //director
  .contenu section {
    display: block;
    margin: 0 auto;
    width: 95%;
  }
  .contenu .actor .movies_actor .affiches a img {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  #menu h1 {
    font-size: 1.3em;
  }
  #menu .menuProfil_item {
    top: -10px;
  }
  #menu .search .search_search {
    top: -10px;
  }
  .slide_1 a, .slide_2 a, .slide_3 a, .slide_4 a {
      font-size: 1em;
  }
  .toDoQuiz p {
    padding-top: 117px;
    font-size: 1em;
  }
  .toDoQuiz {
    background-image: url("../img/listeFilm.png");
    background-size: cover;
    height: 295px;
    width: 100%;
  }
  //confirmation
  article .citation blockquote {
      font-size: 1em;
      margin: 20px 40px 30px;
  }
  //quiz
  section .movies img {
    height: 215px;
    width: 152.2px;
  }
  .toDoQuiz2 p {
    padding-top: 0;
    text-align: center;
  }
  //movie
  .contenu section .features .features_features {
    display: inline-block;
    width: 69%;
  }
  .contenu section .features .continueQuiz {
      display: inline-block;
      width: 25%;
  }
}

@media screen and (max-width: 660px){
  #slogan p {
    font-size: 2em;
  }
  #latest .contener_slideshow {
      height: 290px;
  }
  footer img {
    width: 40%;
  }
  //quiz
  section .loading {
    padding-bottom: 50px;
    padding-top: 250px;
    width: 100%;
  }
  .movies_result {
    margin-top: 260px;
  }
  section .movies img {
    height: 175px;
    width: 130.2px;
  }
}

@media screen and (max-width: 600px){
  #latest .contener_slideshow {
    height: 270px;
  }
  #menu .search {
    width: 115px;
  }
  #menu .search .search_search input[type="text"] {
    width: 55%;
  }
  .toDoQuiz p {
    font-size: 0.8em;
  }
  .popularity_movies, .vote_movies, .cinema_movies {
    font-size: 0em;
    width: 14%;
  }
  .popularity_popularity, .vote_vote, .cinema_cinema {
    padding-top: 15px;
  }
  footer img {
    width: 15%;
  }
  //quiz
  .quiz-page .quiz-yesorno h2 {
      font-size: 1.5em;
      margin-top: 45px;
  }
  .movies_result {
    margin-top: 180px;
  }
  section .movies img {
    height: 170px;
    width: 119.2px;
  }
}

@media screen and (max-width: 550px){
  #latest .contener_slideshow {
      height: 250px;
  }
  #slogan p{
    font-size: 1.8em;
  }
  #slogan img {
    width: 35%;
  }
  footer img {
    width: 20%;
  }
  //quiz
  .quiz-yesorno h2 {
    font-size: 1.3em;
    padding-bottom: 75px;
    margin-top: 72px;
  }
  section .loading {
    padding-bottom: 50px;
    padding-top: 300px;
    width: 100%;
  }
  section .movies img {
      height: 195px;
      width: 137.5px;
  }
  //movie
  .contenu section .features .features_features {
      display: block;
      width: 100%;
  }
  //director
  .contenu .actor .movies_actor .affiches a img {
    margin: 10px;
  }
}

@media screen and (max-width: 500px){
  #latest .contener_slideshow {
      height: 220px;
  }
  .slide_1 a, .slide_2 a, .slide_3 a, .slide_4 a{
    font-size: 0.8em;
  }
  #slogan p{
    font-size: 1.5em;
  }
  #slogan img {
    width: 30%;
  }
  .toDoQuiz{
    height: 230px;
  }
  .toDoQuiz p {
    font-size: 0.6em;
    padding-top: 90px;
  }
  .popularity_movies, .vote_movies, .cinema_movies {
    font-size: 0em;
    width: 13%;
  }
  .popularity h2, .vote h2, .cinema h2 {
      font-size: 1.3em;
  }
  footer img {
    width: 20%;
  }
  section .movies img {
      height: 149px;
      width: 82.5px;
  }
}

@media screen and (max-width: 440px){
  //connect
  article .formulaire {
      width: 260px;
  }
  //quiz
  .quiz-page .quiz-yesorno h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  section .movies img {
    height: 139px;
    width: 87.5px;
  }
}

@media screen and (max-width: 410px){
  #menu h1 {
      font-size: 1em;
  }
  #menu .menuProfil_item .user {
    font-size: 1em;
  }
  #menu .menuProfil_item {
      top: -5px;
  }
  #menu .search .search_search input[type="text"], #menu .search .search_search input[type="submit"] {
    display: none;
  }
  #slogan img {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #latest .contener_slideshow {
    height: 150px;
  }
  .popularity_movies, .vote_movies, .cinema_movies {
    font-size: 0;
    padding: 0px;
    width: 19%;
  }
  .popularity_movies img, .vote_movies img, .cinema_movies img {
    margin-top: 16px;
  }
  footer img {
    width: 30%;
  }
  //quiz-link
  .quiz-page .quiz-yesorno h2 {
      margin-top: -25px;
  }
  section .movies img {
    height: 128px;
    width: 80.5px;
  }
}

@media screen and (max-width: 360px){
  #menu .menuProfil a {
      font-family: "Helvetica";
      font-size: 0.8em;
      padding: 5px 10px;
      text-decoration: none;
      transition: all 0.3s ease 0s;
      width: 206%;
  }
  #menu .menuProfil_item {
    margin-left: -35px;
  }
  .slide_1 a, .slide_2 a, .slide_3 a, .slide_4 a {
      font-size: 1em;
      padding: 4px;
  }
  #slogan p {
    font-size: 1.1em;
  }
  #slogan {
    margin-bottom: 15px;
  }
  .popularity h2, .vote h2, .cinema h2 {
    font-size: 1.1em;
  }
  footer img {
    width: 40%;
  }
  .toDoQuiz {
    height: 138px;
  }
  .toDoQuiz p {
    font-size: 0.4em;
    padding-top: 47px;
  }
  .popularity h2, .vote h2, .cinema h2 {
    padding-top: 10px;
  }
  //connect
  article .formulaire {
    margin: 80px auto 0;
  }
  article .name-logo h1 {
    margin: 20px;
  }
  article .name-logo h1 a{
    font-size: 2em;
  }
  //confirmation
  article .citation {
    margin-top: -120px;
  }
  //quiz
  .quiz-page .quiz-yesorno h2 {
    margin-top: -23px;
  }
  .quiz-yesorno h2 {
      padding-bottom: 20px;
  }
  .movies_result {
    margin-top: 205px;
  }
  section .movies img {
    height: 128px;
    width: 89.5px;
  }
  //movie
  .contenu section .features .features_features li a {
      font-family: "Helvetica";
      font-size: 0.5em;
  }
  .contenu section {
    display: block;
    margin: 0 auto;
    width: 95%;
  }
  //director
  .contenu section .profil_actor {
      border-radius: 8px;
      float: none;
      width: 100%;
  }
  .contenu .actor .infos_actor {
    float: none;
    margin-left: 0px;
    top: 0;
    width: 100%;
  }
  .contenu .actor .movies_actor .affiches a img {
      width: 42%;
  }
}

@media screen and (max-width: 320px){
  //quiz
  .quiz-yesorno h2 {
    padding-bottom: 10px;
  }
  section .movies img {
    height: 157px;
    width: 106.5px;
  }
  .quiz-link2 {
    font-size: 1.2em;
  }
}
