#latest{
  img{
    width: 100%;
  }
}
.contener_slideshow{
  height: 680px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.slide_1, .slide_2, .slide_3, .slide_4{
  position: absolute;
  width: 100%;
  img{
    width: 100%;
  }
  a{
    position: absolute;
    bottom: 10%;
    right: 5%;
    border-radius: 5px;
    padding: 12px;
    background-color: $color_rougeDark;
    color: white;
    font-family: $font_slogan;
    font-size: 1.5em;
  }
  a:hover{
    color: $color_rougeDark;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
.slide_1{
  left: 0;
}
.slide_2{
  left: 100%;
}
.slide_3{
  left: 200%;
}
.slide_4{
  left: 300%;
}
.contener_slide{
  width: 100%;
  left: 0px;
  position: absolute;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 15s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 15s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-100%;}
  45% {left:-100%;}
  57% {left:-200%;}
  68% {left:-200%;}
  80% {left:-300%;}
  95% {left:-300%;}
}
@-moz-keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-100%;}
  45% {left:-100%;}
  57% {left:-200%;}
  68% {left:-200%;}
  80% {left:-300%;}
  95% {left:-300%;}
}
@-ms-keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-100%;}
  45% {left:-100%;}
  57% {left:-200%;}
  68% {left:-200%;}
  80% {left:-300%;}
  95% {left:-300%;}
}
@keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-100%;}
  45% {left:-100%;}
  57% {left:-200%;}
  68% {left:-200%;}
  80% {left:-300%;}
  95% {left:-300%;}
}
