body{
  background-color: #1f2025;
  font: $font_base;
  color: $color_fontsBase;
  margin: 0 auto;
  display: block;
  a{
    color: $color_fontsBase;
    text-decoration: none;
  }
}
header{
  position: relative;
}
#menu{
  position: absolute;
  width: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  li{
    list-style-type: none;
    padding: 5px;
    margin-left: -40px;
  }
  .sousmenu_li:hover{
    background-color: $color_rougeDark;
  }
  h1{
    font-family: $font_title;
    font-size: 2em;
    text-align: center;
    margin-bottom: -37px;
  }
  .menuProfil{
    width: 85%;
    a{
      font-size: 1em;
      font-family: $font_base;
      text-decoration: none;
      transition: all 0.3s ease 0s;
      padding: 5px 10px;
      width: 100%;
    }
  }
  .menuProfil ul{
    display: none;
    position: absolute;
  }
  .menuProfil_item {
    top: -14px;
    margin-left: 5px;
    display: block;
    float: left;
    position: relative;
    .user{
      font-size: 1.2em;
      font-family: $font_base;
    }
  }
  .menuProfil_item:hover{
    background-color: black;
    border-radius: 4px 4px 0px 0px;
  }
  .menuProfil_item ul{
    margin-top: 5px;
  }
  .menuProfil_item:hover ul, .menuProfil a:focus ul {
    display: block;
    left: 0;
    width: 250%;
    background-color: black;
    border-radius: 0px 4px 4px 4px;
  }
  .search{
    float: right;
    margin-right: 50px;
    position: relative;
    width: 200px;
    .search_search{
      position: absolute;
      top: -14px;
      input[type="text"], input[type='submit']{
        display: inline-block;
      }
      input[type="text"]{
        background-color: rgba(0, 0, 0, 0.4);
        border: 0.25px solid rgba(100, 100, 100, 0.5);
        border-radius: 5px;
        color: white;
        padding: 5px;
      }
      input[type="submit"]{
        background-color: $color_rougeDark;
        border-radius: 5px;
        border: none;
        padding: 4px 6px;
        color: white;
        cursor: pointer;
        font-weight: bold;

      }
    }
  }
}
